.projects-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.btn-show{
    padding: 10px;
    margin: 50px 50px 10px ;
    color: rgb(92, 26, 68);
    width: 120px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;

}  

.btn-show:hover {
    color: #f5329d;
    cursor: pointer;
  }

.project-conteiner_title {
  display: flex;
  justify-content: space-evenly;
  background-color: #f0f9fe;
  font-family: 'Montserrat', sans-serif
}


.photo-project {
  width: 330px;
  margin-top: 30px;
}

.container-btn-filter {
  display: flex;
  justify-content: center;
}
