body{
  background: rgb(196,104,158);
  background: linear-gradient(0deg, rgba(196,104,158,0.6222864145658263) 0%, rgba(125,124,123,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
}

nav{
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
.linkLogo{
  margin-right: auto;
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding-left: 30px;
}

.link{
  margin-right: 50px;
  font-size: 17px;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.link:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #f5329d; 
  transition: width 0.4s ease-in-out;
  }

  .link:hover:after,
  .link:focus:after {
  width: 100%;
  }
  
 .linkLogo:hover{
    color:#f5329d;
    }