body{
  background-color: gray;
}

nav{
  display: flex;
  justify-content: right;
}
.linkLogo{
  margin-right: auto;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.link{
  margin-right: 50px;
  font-size: 17px;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.link:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #f5329d; 
  transition: width 0.4s ease-in-out;
  }

  .link:hover:after,
  .link:focus:after {
  width: 100%;
  }
  
 .linkLogo:hover{
    color:#f5329d;
    }